.hero {
  background-image: url("../images/hero-background.svg"), linear-gradient(314.72deg, #C86DD7 -1.5%, #7E49C3 39.43%, #5912AC 86.02%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 616px;
  width: 100vw;
}
